.Settings {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.Top {
    border-bottom: 1px solid black;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #2d2626;
}

.title {
    /*display: flex;*/
    /*align-items: center;*/
    width: 60%;
    padding-left: 20px;
}

.title p {
    text-align: center;
    /*padding-left: 20px;*/
    font-size: 22px;
}

.Back:hover {
    color: #d2c4c4;
    cursor: pointer;
}

.Settings form {
    margin-top: 7vh;
    position: absolute;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    width: 100%;
    height: 93vh;
}

.Settings form input {
    border: none;
    background-color: #443b3b;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid black;
    font-size: 22px;
    margin-top: 7vh;
    width: 70%;
    height: 5vh;
    text-align: center;
}
